
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.jumbotron {
    text-align: center;
  }

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  .panel {
    margin-top: 50px;
  }